* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik Mono One', sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* header */
ul li{
    display: inline-block;
}

nav{
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 1000;
}

a{
    background-color: white;
    color: black;
    text-decoration: none;
    font-size: 16px;
    border-radius: 50%;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
/* /header */

/* hero */
.container{
    height: 100vh;
    width: 100vw;
    background-color: #FF0000;
    top: 0;
    left: 0;
    position: relative;
}

span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center;
}

h2 {
    text-align: center;
    font-size: 42px;
    text-transform: uppercase;
}

#hero-one{
    color: #FFFF00;
}

#hero-two{
    background-color: #008001;
    color: #FFFF00;
}

#hero-three{
    background-color: #FFFF00;
    color: #008001;
}
/* /hero */